*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding-left: 350px;
    padding-right: 350px;
    font-family: 'Amatic SC', cursive;
    font-family: 'Noticia Text', serif;
    font-family: 'Questrial', sans-serif;
}

header{
    display: grid;
}

h1{
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    cursor: default;
}

.galeria{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
        "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
        "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
    gap: 12px;
}

.fotos{
    position: relative;
    box-shadow: 0px 0px 4px black;
    cursor: pointer;
    overflow: hidden;
    justify-content: center;
    font-size: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.fotos:nth-child(1){
    grid-area: f1;
    background-image: url(./img/beijinho.jpg);
    background-size: cover;
    background-position: center;
}

.fotos:nth-child(2){
    grid-area: f2;
    background-image: url(./img/primeiro-date.jpg);
    background-size: cover;
    background-position: center;
}

.fotos:nth-child(3){
    grid-area: f3;
}

.fotos:nth-child(4){
    grid-area: f4;
}

.fotos:nth-child(5){
    grid-area: f5;
}

.fotos:nth-child(6){
    grid-area: f6;
}

.fotos:nth-child(7){
    grid-area: f7;
}

.fotos:nth-child(8){
    grid-area: f8;
}

footer{
    display: grid;
    align-items: center;
    justify-content: center;
}

.botao{
    font-size: 1.3em;
    align-items: center;
    border-radius: 50px;
    width: 260px;
    height: 40px;
    background-color: black;
    display: grid;
    align-content: center;
    color: white;
    justify-content: center;
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.1);
    background-color: #f1f1f1;
    color: black;
    transition-duration: .3s;
}
